@import '../../../sass/main';

.container{
  display:grid;
  grid-template-columns: 67rem 25rem;
  grid-template-areas:
  'articles sidebar';
  justify-content: center;
  padding:10rem 0;
  grid-column-gap: 5rem;

  @include respond(tablet){
    grid-template-columns:80%;
    grid-template-areas:
    'articles'
    'sidebar';
    grid-row-gap:10rem;
  }

  @include respond(mobileL){
    grid-template-columns:100%;
  }
}

.articles{
  display: grid;
  grid-area:articles;
  grid-row-gap:4rem;

}
