$font-primary:'poppins regular',Arial,sans-serif;;
$font-text:'futureLT book';


$color-primary:#4e9525;
$color-secondary:#fbd341;
$color-title:rgba(0,0,0,.8);
$color-content:grey;
$color-content-2:#0E2E47;
$color-white:#fff;
$color-background:#f8f9fa;

$max-width:1140px;

$article-paragraph-font:1.4rem;
$articl-title-font:2.8rem;
