$font-primary:'poppins regular',Arial,sans-serif;;
$font-text:'futureLT book';


$color-primary:#4e9525;
$color-secondary:#fbd341;
$color-title:rgba(0,0,0,.8);
$color-content:grey;
$color-white:#fff;
