@import '../../../sass/main';
$grid-columns:0.7fr 1fr;
.landing{
  display:grid;
  grid-template-columns: $grid-columns;
  grid-template-areas:
  'title img';
  margin-bottom:15rem;

  @include respond(tablet){
    grid-template-columns:1fr;
    grid-template-areas:'title';

  }

  &__title{
    grid-area:title;
    padding:15rem;
    text-align: center;
    font-family: 'poppins bold';
    color:white;
    background-color: rgb(255, 196, 0);

    @include respond(tablet){
      padding:10rem 8rem;
    }

    & h1{
      font-size: 6rem;
      letter-spacing: 0.6;
      line-height: 1;

    }

    & h3{
      font-size: 1.7rem;
    }
  }

  &__img{
    grid-area:img;

    @include respond(tablet){
      display:none;
    }

  }
}


.six-steps{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
  margin-bottom: 20rem;


  &__title{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1{
      font-family: 'poppins bold';
      font-size: 4rem;
      color:$color-title;
    }


  }

  &__icons{

    display:flex;
    flex-direction: column;
    align-items: center;

      @include respond(mobileL){

        & div,
        & img{
          transform:none;
          margin:0;
        }
      }

  }
}

.icon{
  display:flex;
  align-items: center;
  margin-bottom: -5rem;
  width:max-content;


  &--2{
    transform: translateX(-5rem);
  }

  &--3{
    transform: translate(10rem,-2rem);
  }


  &--5{
    transform: translateX(-15rem);
  }

  & img{
    width:10rem;

  }

  @include respond(mobileL){
    &:nth-child(odd) img{
      order:1;
    }
    &:nth-child(even) h3{
      order:1;
    }
    &:nth-child(even) img{
      order:0;
    }
  }

  &__title{
    font-size: 1.9rem;
    margin:0 3rem;
    position:relative;
    z-index:1;
    color:$color-title;
  }
}

.article{
  max-width: $max-width;
  margin:0 auto;
  margin-bottom: 10rem;

  & p{
    color:$color-title;
    margin-bottom: 3rem;
    font-size: 1.5rem;

    @include respond(tablet){
      font-size:2rem;
    }

  }
}
