@import '../../../../sass/main';

.building-container{
  display:grid;
  max-width: $max-width;
  margin: 20rem auto;
  grid-template-columns:repeat(auto-fit, 50rem );
  justify-content:center;
  grid-gap:10rem;

}


.building{

  display:grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  'img title'
  'img content'
  'img button';
  grid-gap:2rem;
  font-family:$font-primary;
  font-weight:light;
  &__image{
    grid-area:img;
    & img{
      display: block;
      height:170px;
      width:170px;
    }
  }

  &__title{
    grid-area:title;
    font-size:1.9rem;
    color:$color-title;
  }

  &__button{
    grid-area:button;
    font-family: $font-primary;
    align-self: center;
    & a{
      display:inline-block;
      padding:1rem 4rem;
      background-color:$color-primary;
      border:1px solid transparent;
      font-size:1.6rem;
      text-decoration:none;
      color:white;
      transition:all 0.2s ease;
      &:hover{
        background-color: transparent;
        border:1px solid $color-primary;
        color:$color-primary;
      }
    }

  }

  &__content{
    grid-area:content;
    font-size:1.4rem;
    color:$color-content;
    line-height: 1.8;

  }
}
