@import '../../../sass/main';

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit,47rem);
  background-color: #252525;
  justify-content: center;
  justify-items: center;
  color:white;
  padding:5rem 0 3rem;
  grid-gap:4rem;

  @include respond(desktopL){
    grid-template-columns:repeat(3,1fr);
  }

  @include respond(laptopL){
      grid-template-columns:repeat(auto-fit,47rem);
  }

  @include respond(mobileS){
    grid-template-columns:90%;

  }
}

.brand{
  @include respond(laptopL){
    grid-column:1 / -1;
  }

  @include respond(mobileS){
    width:auto;
  }

  &__title{
    text-transform: uppercase;
    font-size: 3.4rem;
    font-family: 'poppins bold';

    &-span{
        @include respond(mobileS){
          display:block;
        }
    }

    @include respond(mobileS){
      font-size:3.0rem;
      text-align: center;
    }
  }
}


.address,
.contact{
  display:flex;
  flex-direction: column;
  text-align: center;
  &__header{
    color:$color-primary;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__content{
    font-size:1.6rem;
    margin-bottom: 1rem;
  }
}

.copyright{
  grid-column:  1 / -1;
  font-size:1.6rem;
}
