@font-face {
  font-family:'poppins regular';
  src: local('Poppins-Regular'),url(./assets/fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'poppins bold';
  src: local('Poppins-Bold'),url(./assets/fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family:'poppins semi bold';
  src: local('Poppins-SemiBold'),url(./assets/fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family:'poppins light';
  src: local('Poppins-Light'),url(./assets/fonts/poppins/Poppins-Light.ttf) format('truetype');
}
