@import '../../../../sass/main';


.sidebar{
  grid-area:sidebar;
  & a{
   text-decoration: none;
 }

  &__title{
    font-family: 'poppins light';
    font-weight: 100;
    margin-bottom: 1rem;
    color: $color-title;
    font-size: 1.9rem;


  }

}

.feature-posts,
.recent-posts{
  display:flex;
  flex-direction:column;
  margin-bottom: 4rem;
  padding-top:1rem;
  border-top:1px solid $color-title;

  &__title{
    font-size: 1.9rem;
    text-decoration: none;
    color: $color-title;
    transition:all 0.2s ease;
    &:hover{
      color:$color-primary;
      text-decoration: underline;
    }

  }


  &__img{
    width:100%;
    margin-bottom: .5rem;
  }
}
